<div class="p-5 pl-10">
  <h2 class="text-3xl font-bold my-7 ml-5">Détails sur le décès </h2>
  <hr>
</div>
<div class="flex p-4">
  <div class="w-1/2 pr-4">
    <%= image_tag 'death.jpg', class: "h-auto w-full" %>
  </div>
  <div class="w-1/2 grid grid-cols-2 gap-2 justify-between">
      <div class="">
        <h4 class="text-xl font-semibold">Nom et prénom défunt :</h4>
        <p class="text-gray-500"><%= @death.first_last_name_death %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Fonction:</h4>
        <p class="text-gray-500"><%= @death.function %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Sexe :</h4>
        <p class="text-gray-500"><%= @death.sexe %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Mode de décès :</h4>
        <p class="text-gray-500"><%= @death.death_mode %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Description du mode :</h4>
        <p class="text-gray-500"><%= @death.death_mode_description %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Date du décès :</h4>
        <p class="text-gray-500"><%= @death.date_of_death %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Date de naissance :</h4>
        <p class="text-gray-500"><%= @death.date_of_birth %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Lieu d'habitation:</h4>
        <p class="text-gray-500"><%= @death.location %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Nom du père :</h4>
        <p class="text-gray-500"><%= @death.father_name %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Nom de la mère :</h4>
        <p class="text-gray-500"><%= @death.mother_name %></p>
      </div>
      <div class="">
        <h4 class="text-xl font-semibold">Status :</h4>
        <% if @death.state == "waiting" %>
          <p class="text-blue-500">En attente </p>
        <% end %>

        <% if @death.state == "validated" %>
          <p class="text-green-500">Valider</p>
        <% end %>

        <% if @death.state == "cancelled" %>
          <p class="text-red-500">Refuser</p>
        <% end %>
      </div>
  </div>
</div>


<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>