<%= turbo_frame_tag dom_id(message) do%>
<div class="flex py-1" data-controller="message">
  <div class="p-5 rounded-2xl w-2/5" data-message-target="container" data-message-user="<%= message.user_id%>">
      <p><%= message.content %></p>
      <small class="float-right"><%= message.user.email%> <strong><%= message.created_at&.strftime("%I: %M %p") %></strong></small>
  </div>
</div>

<% end %>


<!-- 
  1er  rounded-tl-none bg-gray-200  
  
  <div class="flex justify-start py-1"> 2eme 
  <div class="bg-blue-300 text-green-900 p-5 rounded-2xl rounded-tr-none w-2/5"> -->