<header class="flex flex-row justify-between font-bold bg-white h-16 pt-4 w-screen">
  <h1 class="pl-8">
    <%= image_tag 'logo.png', alt: 'icon', class:"w-28 h-auto" %>
  </h1>
  <nav class="flex">
    <div class="pr-10">
      <%= link_to 'Tous les produits'%>
    </div>
    <div class="pr-10">
      <%= link_to 'Categories'%>
    </div>
    <div class="pr-10">
      <%= link_to 'Tendances'%>
    </div>
    <div class="pr-10">
      <%= link_to 'Encheres'%>
    </div>
  </nav>
  <nav class="flex">
    <div class="pr-5">
      <%= link_to  do %>
        <%= image_tag "fi_shopping-cart.png", alt: 'icon', class:"h-8 w-auto" %>
      <% end %>
    </div>
    <div class="pr-5">
      <%= link_to  do %>
        <%= image_tag "fi_heart.png", alt: 'icon', class:"h-8 w-auto"%>
      <% end %>
    </div>
  </nav>
</header>
<hr class="bg-gray-300 w-screen h-1"></hr>
<main class="w-screen h-auto flex flex-row justify-between">
  <div class="flex flex-col bg-gray-300 w-4/12">
    <h1>Mon Profil</h1>
    <nav class="flex flex-col mt-12 leading-loose">
      <%= link_to 'Jokou VIP'%>
      <%= link_to 'Mes adresses'%>
      <%= link_to 'Mes options De Paiement'%>
      <%= link_to 'Securite Du Compte'%>
    </nav>
  </div>
  <div class="flex flex-col bg-gray-300 w-4/12">
    <span class="bg-red-600 mx-auto w-96 h-96 mt-4"></span>
    <h1>Mes commandes</h1>
    <div class="flex flex-row justify-between px-4">
      <%= link_to  do %>
        <%= image_tag "" %>
        <figcaption>En cours de traitement</figcaption>
      <% end %>
      <%= link_to  do %>
        <%= image_tag "" %>
        <figcaption>Expediés</figcaption>
      <% end %>
      <%= link_to  do %>
        <%= image_tag "" %>
        <figcaption>Enchérés</figcaption>
      <% end %>
    </div>
  </div>
  <div class="w-4/12">
    <div class="flex flex-row justify-between px-4">
      <%= link_to  do %>
        <%= image_tag "" %>
        <figcaption>Mes notifications</figcaption>
      <% end %>
      <%= link_to  do %>
        <%= image_tag "" %>
        <figcaption>Mes commentaires</figcaption>
      <% end %>
    </div>
    <div>
      <h1 class="text-center">Ma boutique</h1>
      <button class="h-auto py-2 w-auto px-2 bg-red-600 text-white block mx-auto">Ajouter un article</button>
    </div>
  </div>
</main>
<footer></footer>