<div class="mb-12 relative">
  <div class="absolute top-2 right-3">
    <a href="<%=like_path(favorite.product, user:current_user, source:'favorites') %>">
        <i class="fas fa-heart text-2xl text-red-500"></i>
    </a>
  </div>
  <div class="h-64 w-full overflow-hidden">
    <% if favorite.product.product_backgrounds.attached? %>
      <%=image_tag favorite.product.product_backgrounds[0], class:'h-64 w-full object-cover'%>
    <%else%>
      <%=image_tag 'default_product_image.png', class:'h-64 w-full object-cover'%>
    <% end %>
  </div>
  <a href='<%= product_path(favorite.product) %>' class="w-full h-full">
    <div class="py-2 flex items-center justify-between ">
      <div class="w-32">
        <p class=" font-medium text-lg"><%=favorite.product.name%></p>
        <p class=" font-normal text-sm py-1"><%=favorite.product.price%> FCFA</p>
      </div>
      <%if favorite.product.store.user != current_user%>
        <div class="w-2/5">
          <%if current_user %>
            <a href="<%= store_product_line_items_path(favorite.product.store, favorite.product) %>" data-method="POST" class="px-5 py-2 bg-red-600 text-white">
              Acheter
            </a>
          <% else %>
            <a href="<%= new_user_session_path %>" class="px-5 py-2 bg-red-600 text-white">
              Acheter
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </a>
</div>