<div class="w-5/6 py-2"> 
  <%- if controller_name != 'sessions' %>
  <p class="flex items-center font-light">
    Deja un compte ? <%= link_to "Log in", new_session_path(resource_name),class:'ml-2 font-medium text-red-700' %>
  </p>
  <% end %>
</div>

<div class="w-5/6 py-4 text-right">
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class:'font-medium text-red-700' %>
<% end %>
</div>
<div class="w-5/6 py-2"> 
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class="flex items-center font-light">
      Pas de compte ? <%= link_to "créer votre compte ici", new_registration_path(resource_name), class:'ml-2 font-medium text-red-700' %>
    </p>
  <% end %>
</div>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>


