<div class="overflow-hidden relative bg-red-600 h-screen flex justify-between" >
  <div class="overflow-hidden w-2/6 bg-red-600"> 
    <div class="w-full flex py-14 px-10">    
      <%= image_tag "logojokou.png", class:'w-3/5' %>
    </div>
    <div class="pl-10"> 
      <p class="text-white text-2xl ">Vous pouvez vendre votre Art.</p>
    </div>
    <div class="pl-10 pt-10">
      <p class="text-white text-2xl">Vous pouvez acheter en ligne les oeuvres des Artisans Ivoiriens.</p>
    </div>
  </div>
  <div class="overflow-hidden w-4/6 bg-white rounded-3xl rounded-tr-none rounded-br-none shadow-md pl-24 py-14 pr-14"> 
    <div class="w-full flex py-10">
      <h2 class="text-3xl font-normal">Log in</h2>
    </div>
    <div class="overflow-hidden w-4/5 pt-5">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'email',class: 'w-5/6 outline-none bg-gray-100 rounded px-3 py-2 mb-5'%>
      </div>
      <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder:'password',class: 'w-5/6 outline-none bg-gray-100 rounded px-3 py-2 mb-5'%>
      </div>   
          <% if devise_mapping.rememberable? %>
            <div class="field px-4 pb-5">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me  %>
            </div>
          <% end %>
          <div class="actions">
          <%= f.submit "Se connecter", class:'px-3 py-2 w-4/6 rounded bg-red-600 text-white' %>
          </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>