<a href='<%= store_product_path(product.store,product) %>' class="mb-2">
  <% if product.product_backgrounds.attached? %>
    <%= image_tag product.product_backgrounds[0], class:'m-0 h-40 w-full object-cover '%>
  <%else%>
    <%=image_tag 'default_product_image.png', class:'h-40 w-full object-cover'%>
  <% end %>
  <div class="py-1 flex items-center justify-center">
    <div class="w-full">
      <p class=" font-medium text-md"><%=product.name%></p>
      <p class=" font-normal text-xs py-1"><%= number_with_delimiter(product.price, :delimiter => '.')%> FCFA</p>
    </div>
  </div>
</a>