<style>
.h-100 {
  max-height: 28rem/* 384px */;
}
</style>

<div class="min-h-screen flex overflow-hidden">
  <div class="w-4/5 overflow-hidden">
    <div class="flex py-10 justify-between items-center w-4/5 mx-auto pr-5">
      <p class="text-4xl font-medium text-center">Ma Boutique</p>
      <% if @store.user.id != current_user.id%>
        <a href="<%= new_user_store_chat_path(current_user, @store.id) %>" class="bg-green-600 text-white px-5 py-2 rounded">
          Ecrire
          <i class="fad fa-paper-plane"></i>
        </a>
      <% end %>
    </div>
    <div class='grid grid-cols-4 gap-1 h-100 w-4/5 my-0 mx-auto overflow-y-auto'>
      <%=render partial:'product', collection: @store_products%>
    </div>
    <% if current_user  == @store.user %>
      <div class='flex justify-center items-center'>
        <%= link_to 'Ajouter un article', new_user_store_product_path(current_user, @store), class:'bg-red-600 text-white px-10 py-3 font-medium' %>
      </div>
    <% end %>
  </div>
  <div class="w-1/5 overflow-hidden">
    <div></div>
    <div></div>
    <div class='block'>
      <%= link_to 'Jokou VIP','',class:'w-full block m-1 font-light text-xl'%>
      <%= link_to 'Mes adresses','',class:'w-full block m-1 font-light text-xl'%>
      <%= link_to 'Mes options de paiement','',class:'w-full block m-1 font-light text-xl'%>
      <%= link_to 'Securite du compte','',class:'w-full block m-1 font-light text-xl'%>
    </div>
  </div>
</div>
<%#= link_to 'edit', edit_user_store_path(current_user, @store)%>
<%#= link_to 'delete', user_store_path(current_user, @store), method: :delete, data: {confirm: 'Are you sure?'}%>
<%#= link_to 'My Products', user_store_products_path(current_user,@store, @products)%>
