<style>
  
  .sec2 {
  background-image: url('https://images.unsplash.com/photo-1578937403115-6c5facb2cbda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80');
  }
  .bg-primary {
  background-color: #f9b529;
  }
  .bg-primary-lite {
  background-color: #F66767;
  }
  .bg-secondary-lite {
  background-color: #BABABA;
  }
</style>
<div class="h_min bg-white">
  <main>
    <section class="bg-gray-100 bg-opacity-90 py-5">
      <div class="container mx-auto px-4 flex flex-col lg:flex-row">
        <!-- left -->
        <div class="sec2 relative lg:w-2/3 rounded bg-secondary-lite bg-cover p-8 md:p-16">
          <p class="max-w-sm text-secondary text-3xl md:text-4xl font-semibold"><%= @bid.product.name.upcase %></p>
          <p class="max-w-xs pr-10 text-secondary font-semibold mt-8"><%= @bid.product.description%></p>
          <!-- center -->
            <div class="bg-red">
              <div class="max-w-full bg-white flex flex-col rounded overflow-hidden shadow-xl">
                <div class="mt-2 flex sm:flex-row mx-6 sm:justify-between flex-wrap ">
                  <div class="flex flex-row place-items-center p-2">
                    <i class="fas fa-stopwatch w-5"></i> Début :
                    <div class="flex flex-col p-2">
                      <p class="text-xl text-gray-500 font-bold"><%=@bid.start_date.strftime("%d/%m/%Y") + " à " + @bid.start_date.strftime("%H:%M")%></p>
                    </div>
                  </div>

                  <div class="flex flex-row place-items-center p-2">
                    <i class="fas fa-stopwatch w-5"></i> Fin :
                    <div class="flex flex-col p-2">
                      <p class="text-xl text-gray-500 font-bold"><%=@bid.end_date.strftime("%d/%m/%Y") + " à " + @bid.end_date.strftime("%H:%M") %></span>
                    </div>
                  </div>
                  <div class="flex flex-row place-items-center p-2">
                    <i class="fas fa-wallet w-5"></i> Prix initial :
                    <div class="flex flex-col p-2">
                      <p class="text-xl text-gray-500 font-bold"><%=@bid.initial_price%></span>
                    </div>
                  </div>
                  
                  <%@winner.each do |winner|%>
                  <div class="flex flex-row place-items-center p-2">
                      <i class="fas fa-wallet "></i> Meilleure Offre :
                    <div class="flex flex-col p-2">
                      <p class="text-xl text-gray-500 font-bold"><%=winner.amount%></span>
                    </div>
                  </div>
                   <div class="flex flex-row place-items-center p-2">
                      <i class="fas fa-envelope-open-text w-5"></i> Email du gagant:
                    <div class="flex flex-col p-2">
                      <p class="text-xl text-gray-500 font-bold"><%=winner.user.email%></span>
                    </div>
                  </div>
                  <%end%>

                </div>
              </div>
              <div class="items-center, mt-5">
            <%case @bid.state when 'waiting'%>
                <div class='flex justify-center items-center'>
                  <%= link_to 'Annuler', store_product_bid_path(@bid.product.store,@bid.product, @bid), method: :delete, data: {confirm: 'Êtes-vous sûr?'}, class:'bg-red-600 text-white text-xl px-5 py-2 font-medium rounded' %>
                </div>
              <%when 'actived'%>
                <div class='flex justify-center items-center'>
                  <%= link_to 'Annuler', store_product_bid_path(@bid.product.store,@bid.product, @bid), method: :delete, data: {confirm: 'Êtes-vous sûr?'}, class:'bg-red-600 text-white text-xl px-5 py-2 font-medium rounded' %>
                </div>
              <%when 'cancelled'%>
              <%when 'closed'%>
                <%if @bid.validated == false && @bid.offers.top.first%>
                  <div class='flex justify-center items-center'>
                    <%= link_to 'Valider', store_product_bid_path(@bid.product.store,@bid.product, @bid), method: :patch, class:'bg-green-600 text-white text-xl px-5 py-2 font-medium rounded' %>
                  </div>
                <%end%>
            <%end%>
          </div>
            </div>
            <!-- center -->
        </div>
        <!-- right -->
        <div class=" mt-6 lg:mt-0 lg:ml-6 lg:w-1/3 rounded bg-primary-lite bg-cover p-1 "> 
            <% if @bid.product.product_backgrounds.attached? %>
              <%=image_tag @bid.product.product_backgrounds[0], class:'h-full w-full object-cover'%>
            <%else%>
              <%=image_tag 'default_product_image.png', class:'h-full w-full object-cover'%>
            <% end %>
        </div>
      </div>
    </section>
  </main>
</div>

<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>
  