<nav class="w-full overflow-x-hidden top-0 p-3 flex justify-between items-start">
  <span class="w-1/6 px-2">
    <a href='<%=root_path %>' class="w-full h-14 flex px-2 justify-center overflow-hidden">
      <%=image_tag 'Group 3.png', class:'w-full h-12 '%>
    </a>
  </span>
  <div class="w-4/6">
    <%=yield :search_bar%>
    <span class="w-full">
      <div class="flex items-center justify-evenly pt-2">
        <a href='<%= products_path %>' class='font-semibold text-xl'>Tous les produits</a>
        <a href='<%= stores_path %>' class='font-semibold text-xl'>Stores</a>
        <a href='<%= tendances_path%>' class='font-semibold text-xl'>Tendances</a>
        <a href='<%= bids_path %>' class='font-semibold text-xl'>Enchères</a>
      </div>
    </span>
  </div>
  <span class='w-1/6 flex items-center justify-evenly pt-2'>

    <% if current_user %>

      <a href='<%= user_carts_path(current_user) %>' class="relative flex items-stretch">
        <i class="fal fa-shopping-cart text-2xl"></i>
        <% if current_user.carts.where(validated: false).count > 0 %>
          <span class="w-3 h-3 bg-red-600 rounded-full absolute -top-1 -right-1">
          </span>
        <% end %>        
      </a>

      <a href='<%=user_favorites_path(current_user) %>'>
        <i class="fal fa-heart text-2xl"></i>
      </a>

      <a href='<%= user_chats_path(current_user)%>' class="relative flex items-stretch">
        <i class="fal fa-comment-alt text-2xl"></i> 
        <% if Notification.all_unread_user(current_user.id).length >0 %>
          <span class="w-3 h-3 bg-red-600 rounded-full absolute -top-1 -right-1">
          </span>
        <% end %>
      </a>

    <% end %>
    <a href="<%= current_user == nil ? new_user_session_path : profile_path(current_user) %>" >
      <i class="fal fa-user text-2xl"></i>
    </a>
  </span>
</nav>