<hr>
<div class="mt-5 mb-20">
  <h2 class="font-bold text-2xl mt-3 mb-5 text-center">Panier du store "<%= cart.store.name %>"</h2>
  <% cart.line_items.each do |item| %>
    <%= render partial: "shared/cart_item", locals: { item: item } %>
  <% end %>
  <div class="flex w-1/2 mt-5 mx-auto justify-between text-center justify-items-center items-center">
    <h2 class="font-bold text-2xl">Prix total: <%= cart.total_price %> FCFA</h2>
    <div class="mt-5">
      <a href="<%= user_cart_path(current_user, cart) %>", data-method="DELETE", data-confirm="Êtes vous sûr?">
        <i class="fas fa-trash text-xl"></i>
      </a>
      <span>
        <%= link_to "Valider votre panier", user_cart_orders_path(current_user, cart), method: :post, data: { confirm: "Voulez vous valider votre panier?" }, class:"bg-red-600 m-5 p-5 rounded text-white mt-5" %>
      </span>
    </div>
  </div>
</div>
