<table>
  <tr>
    <td>Name: <%= item.product.name %></td>
    <td>Description: <%= item.product.description %></td>
    <td>Weight: <%= item.product.weight %></td>
    <td>
      Quantity:
      <%= link_to 'Moins (-1)', line_item_reduce_path(item), method: :post %>
      <%= item.quantity %>
      <%= link_to 'Plus (+1)', line_item_add_path(item), method: :post %>
    </td>
    <td>Price: <%= item.total_price %></td>
    <td>
      | <%= link_to 'Delete', line_item_delete_path(item), method: :delete %>
    </td>
  </tr>
</table>

<div class="ml-60 bg-gray-300 h-32 flex mx-10 justify-items-center justify-between mr-80">
  <div class="">
    <%# <% image_tag item.product. %>
  </div>
  <div class="">
    <h2>Name: <%= item.product.name %></h2>
    <h3 class="mt-5">Description: <%= item.product.description %></h3>
    <h3 class="mt-5">Weight: <%= item.product.weight %>g</h3>
  </div>
  <div class="mt-12 text-3xl mr-5"> 
    <a href="<%= line_item_reduce_path(item) %>" data-method="POST">
      <i class="fas fa-minus"></i>
    </a>
    <%= item.quantity %>
    <a href="<%= line_item_add_path(item) %>" data-method="POST">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>