<div>
  <%# if item.product.product_backgrounds.persisted? %>
    <%#= image_tag item.product.product_backgrounds[0], class: 'h-48 w-52 w-full' %>
  <%# end %>
  <div>
    <%= item.product.name %>
    <%= item.product.description %>
    <%= item.product.weight %> g
  </div>
  <div class=""> 
    <a href="<%= line_item_reduce_path(item) %>" data-method="POST">
      <i class="fas fa-minus"></i>
    </a>
    <span class="text-2xl border h-10 w-12">
      <%= item.quantity %>
    </span>
    <a href="<%= line_item_add_path(item) %>" data-method="POST">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>

<div class="ml-60 bg-gray-300 h-32 flex mx-10 justify-items-center justify-between mr-80">
  <div class="">
    <%# <% image_tag item.product. %>
  </div>
  <div class="">
    <h2>Name: <%= item.product.name %></h2>
    <h3 class="mt-5">Description: <%= item.product.description %></h3>
    <h3 class="mt-5">Weight: <%= item.product.weight %>g</h3>
  </div>
  <div class="mt-12 text-3xl mr-5"> 
    <a href="<%= line_item_reduce_path(item) %>" data-method="POST">
      <i class="fas fa-minus"></i>
    </a>
    <%= item.quantity %>
    <a href="<%= line_item_add_path(item) %>" data-method="POST">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>