<div class='px-10'>
  <table class="w-full">
        <thead>
          <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
            <th class="px-4 py-3">Nom et prénom défunt </th>
            <th class="px-4 py-3">Fonction </th>
            <th class="px-4 py-3">Sexe</th>
            <th class="px-4 py-3">Mode Décès </th>
            <th class="px-4 py-3">Décedé le</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Actions</th>
            <th class="px-4 py-3"></th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% deaths.each do |death| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3 text-ms border">
              <%=  death.first_last_name_death %>
            </td>
            <td class="px-4 py-3 border">
              <div class="flex items-center text-sm">
                <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                  <%= death.function %>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-xs border">
              <%= death.sexe %>
            </td>
            <td class="px-4 py-3 text-sm border">
              <%= death.death_mode %>
            </td>

            <td class="px-4 py-3 text-sm border">
              <%= death.date_of_death.strftime("%d/%m/%Y") + " à " + death.date_of_death.strftime("%H:%M") %>
            </td>

            <td class="px-4 py-3 text-sm border">
              <% if death.state == "cancelled" %>
                <span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-sm">
                  rejetée
                </span>
              <% end %>
              <% if death.state == "validated" %>
                <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-sm">
                  validée
                </span>
              <% end %>
              <% if death.state == "waiting" %>
                <span class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-sm">
                  en attente
                </span>
              <% end %>
            </td>

            <td class="px-4 py-3 text-sm border">
              <%= link_to "Details", death_path(death) %>
            </td>

            <td class="px-4 py-3 text-sm border">
              <% if @user.admin?  %>
                <% if death.state == "waiting" %>
                <a href="<%= validate_death_path(death) %>" data-method="PUT">
                  <button class="px-2 py-1 ml-2 bg-green-500 rounded shadow text-white ">
                    Valider
                  </button>
                </a>
                <% end %>
                <% if death.state == "validated" %>
                  <a href="<%= reject_death_path(death) %>" data-method="PUT">
                    <button class="px-2 py-1 ml-2 bg-red-500 rounded shadow text-white ">
                      Réjeter
                    </button>
                  </a>
                <% end %>
              <% end %>
            </td>
          </tr>          
        <% end %>
        </tbody>
      </table>
</div>