<div class='px-10'>
  <table class="w-full">
        <thead>
          <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
            <th class="px-4 py-3">Nom et prénom </th>
            <th class="px-4 py-3">Fonction </th>
            <th class="px-4 py-3">Sexe</th>
            <th class="px-4 py-3">Date de naissance</th>
            <th class="px-4 py-3">Lieu d'habitation </th>
            <th class="px-4 py-3">Destination </th>
            <th class="px-4 py-3">Actions</th>
            <th class="px-4 py-3"></th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% moves.each do |move| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3 text-ms border">
              <%=  move.first_last_name_owner %>
            </td>
            <td class="px-4 py-3 border">
              <div class="flex items-center text-sm">
                <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                  <%= move.function %>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-xs border">
              <%= move.sexe %>
            </td>
            <td class="px-4 py-3 text-sm border">
              <%= move.date_of_birth %>
            </td>

            <td class="px-4 py-3 text-sm border">
              <%= move.family_location_place %>
            </td>

            <td class="px-4 py-3 text-sm border">
              <%= move.new_destination %>
            </td>

            <td class="px-4 py-3 text-sm border">
              <%= link_to "Details", move_path(move) %>
            </td>
          </tr>          
        <% end %>
        </tbody>
      </table>
</div>