<header class="w-full bg-gray-800 p-4 flex justify-between items-center">
  <nav class="flex items-center">
    <% if current_user %>
      <%= current_user.email %>
    <% end %>
    <h3 class="text-white">
        <%= link_to 'Jokou', root_path %>
      </h3>
  </nav>
  <div class="text-white">
    <% if user_signed_in? %>
      <h3>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </h3>
    <% end %>
  </div>
  <div class="text-white">
    <h3>
      <%= link_to 'Sign In', new_user_session_path %>
    </h3>
  </div>
  <div class="text-white">
    <h3>
      <%= link_to 'Register', new_user_registration_path%>
    </h3>
  </div>

  <div class="text-white">
    <h3>
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post %>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %>
    </h3>
  </div>
</header>