<hr>
<h2 class="text-center font-bold text-3xl my-5">
  Commande  #<%= "#{order.id[0,7].upcase}" %>
</h2>
<% order.cart.line_items.each do |item| %>
<div class="">
  <div class="container mx-auto p-3 max-w-screen-lg">
    <div class="flex justify-between flex-wrap lg:justify-center">
      <div class="bg-gray-200 rounded shadow w-full lg:w-2/4">
        <div class="w-full flex justify-around bg-orange-200 py-6">
          <div>
            <% if item.product.product_backgrounds.attached? %>
              <%= image_tag item.product.product_backgrounds[0], class:'object-cover w-28 h-auto' %>
            <% else %>
              <%= image_tag 'default_product_image.png', class:'object-cover w-28 h-auto' %>
            <% end %>
          </div>
          <div class="flex flex-col justify-around">
            <div class='text-xl text-right font-bold '>
              <%= item.product.name %>
            </div>
            <div class='text-xl text-right font-bold'>
              x<%= item.quantity %>
            </div>
            <div class='text-xl text-right font-bold'>
              <%= number_with_delimiter( item.total_price, :delimiter => '.')  %> FCFA
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<h2 class="text-center font-bold text-3xl m-5">
  Prix total : <%= number_with_delimiter( order.cart.total_price, :delimiter => '.') %> FCFA
</h2>