<h2 class="">Mes commandes</h2>
<div class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
  <table class="min-w-full">
    <thead>
      <tr>
        <th class="th">ID Commandes</th>
        <th class="th">Clients</th>
        <th class="th">Nombres d'articles</th>
        <th class="th">Prix de la commande</th>
        <th class="th">Status</th>
        <th class="th">Créé le </th>
        <th class="th"></th>
      </tr>
    </thead>
      <tbody class="bg-white">
        <% orders.each do |order| %>
        <tr>
          <td class="td">
            <%= link_to "##{order.id[0,7].upcase}", store_order_path(order.cart.store, order) %>
          </td>
            <td class="td">
              <%= order.cart.user.email %>
            </td>
            <td class="td">
              <%= order.cart.line_items.size %>
            </td>
            <td class="td">
              <%= order.cart.total_price %> FCFA
            </td>
            <td class="td">
              <% if order.state == "cancelled" %>
                <span class="bg-red-200 ">
                  <span class="text-red-800">
                    <%= order.state %>
                  </span>
                </span>
              <% end %>
              <% if order.state == "validated" %>
                <span class="bg-green-200 ">
                  <span class="text-green-800">
                    <%= order.state %>
                  </span>
                </span>
              <% end %>
              <% if order.state == "waiting" %>
                <span class="bg-gray-200 ">
                  <span class="text-gray-800">
                    <%= order.state %>
                  </span>
                </span>
              <% end %>
            </td>
          <td class="td">
            <%= order.created_at.strftime("%d/%m/%Y") + " à " + order.created_at.strftime("%H:%M") %>
          </td>
        <td class="td text-red-500">
          <%= link_to "Details", store_order_path(order.cart.store, order) %>
          <%# <button class="px-5 py-2 border-red-500 border text-red-500 rounded transition duration-300 hover:bg-red-700 hover:text-white focus:outline-none">View Details</button> %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>