<div class="mb-16">
  <a href='<%= product_path(product) %>' class="w-full h-full">
    <div class="h-64 w-full overflow-hidden">
      <% if product.product_backgrounds.attached? %>
        <%=image_tag product.product_backgrounds[0], class:'h-64 w-full object-cover'%>
      <%else%>
        <%=image_tag 'default_product_image.png', class:'h-64 w-full object-cover'%>
      <% end %>
    </div>
    <div class="py-2 flex items-center justify-between pr-3 pl-1 overflow-hidden">
      <div class="w-32  ">
        <p class=" font-medium text-lg"><%=product.name%></p>
        <p class=" font-normal text-sm py-1"><%=number_with_delimiter(product.price, :delimiter => '.')%> FCFA</p>
      </div>
      <%if product.store.user != current_user%>
        <div class="w-2/5">
          <%if current_user %>
            <a href="<%= store_product_line_items_path(product.store, product) %>" data-method="POST" class="px-5 py-2 bg-red-600 text-white">
              Acheter
            </a>
          <% else %>
            <a href="<%= new_user_session_path %>" class="px-5 py-2 bg-red-600 text-white">
              Acheter
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </a>
</div>