<a href="<%= store_path(stores)%>" class="mx-2 w-64 m-2">
  <% if stores.background.persisted? %>
    <%= image_tag stores.background, class:'object-cover  h-64 w-full '%>
  <%else%>
    <%=image_tag 'App-Store.jpg', class:'h-64 w-full object-cover'%>
  <% end %>
  <div class="py-2">
    <p class=" font-medium text-md">owner: <%=stores.user.email%></p>
    <p class=" font-semibold text-xl py-2"><%=stores.name%></p>
  </div>
</a>