<% if @tendance %>
  <%=render  partial: 'tendances', locals:{tendance: @tendance}%>
<% end %>

<div class="px-10 pt-5">
  <p class="text-3xl font-medium mt-16"> Produits les plus populaires</p>
  <div class="grid grid-cols-4 gap-3 mt-4">
    <% if @products %>
      <%=render partial: 'product', collection: @products%>
    <% end %>
  </div>
</div>

<div class="px-10 pt-5">
  <p class="text-3xl font-medium mt-16"> Shopper par store</p>
  <div class="grid grid-cols-4 gap-3 mt-4">
    <% if @stores %>
      <%=render partial: 'stores', collection: @stores%>
    <% end %>
  </div>
</div>

<div class="px-10 pt-5">
  <p class="text-3xl font-medium mt-16"> Produits tendances </p>
  <div class="grid grid-cols-4 gap-3 mt-4">
    <% if @stores%>
      <%=render partial: 'product', collection: @product_tendances%>
    <% end %>
  </div>

  <div>
    <%=render 'pre_footer'%>
  </div>
</div>

<% content_for :banners do %>
  <% content_for :search_bar do %>
    <%=render partial: 'searchs'%>
  <% end %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>






















<%#= link_to 'Sign Out', destroy_user_session_path, method: :delete %>




<%#=render 'product'%>
<%# <h2>Bienvenue sur Jokou !</h2> %>
<%# <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> %>
  <%# if current_user %>
    <%#= link_to 'Add a Store', new_user_store_path(current_user)%>
  <%# end %>
  <%#= link_to 'Sign in', new_user_session()%>
<%# </button> %>
