<% if @order %>
  <div class="flex flex-col text-2xl font-bold mt-5 items-center">
    <% @order.cart.line_items.each do |item| %>
      <div>
        Produit: <%= item.product.name %>.
        Qty: <%= item.quantity %>
      </div>
    <% end %>
    Prix total de la commande : <%= @order.cart.total_price %> XOF
    <div>
      <a href="<%= reject_order_path(@order.cart.store, @order) %>" data-method="PUT">
        <i class="fad fa-times-circle text-3xl text-red-500"></i>
      </a>
      <a href="<%= validate_order_path(@order.cart.store, @order) %>" data-method="PUT">
        <i class="fad fa-check-circle text-3xl text-green-500"></i>
      </a>
    </div>
  </div>
<% end %>

<% if @user_order %>
  <div class="flex flex-col text-2xl font-bold mt-10 items-center">
    <h2>
      Depuis "<%= @user_order.cart.store.name %>"
      <a href="<%= user_order_path(@user_order) %>" data-method="DELETE", data-confirm="Supprimer la commande ?">
          <i class="fad fa-times-circle text-3xl text-red-500"></i> 
      </a>
    </h2>
    <% @user_order.cart.line_items.each do |item| %>
      <div>
        Produit : <%= item.product.name %>.
      </div>
      <div>
        Quantité: <%= item.quantity %>.
        Prix total: <%= item.total_price %> XOF
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>

<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>
