<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'email',class: 'w-5/6 outline-none bg-gray-100 rounded px-3 py-2 mb-5'%>
  </div>
  <div class="actions">
    <%= f.submit "Envoyer", class:'px-3 py-2 w-1/6 rounded bg-red-600 text-white' %>
  </div>
<% end %>
<div class="pt-5">
  <%= render "users/shared/links" %>
</div>
