<%= form_with model: [user, store, product] do |form|%>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :store_id, value: store.id %>
  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
    <% if product.errors[:name] %>
      <span style='color: red'><%= product.errors[:first_name][0] %></span>
    <% end %>
  </div>  
  <div>
    <%= form.label :description, 'Description' %>
    <%= form.text_field :description %>
  </div>
  <% if product.errors[:description] %>
    <span style='color: red'><%= product.errors[:description][0] %></span>
  <% end %>
  <div>
    <%= form.text_field :all_categories, class: 'input-label', placeholder: "Categories (Separated by comma)" %>
  </div>
  <% if product.errors[:all_categories] %>
    <span style='color: red'><%= product.errors[:all_categories][0] %></span>
  <% end %>
   <div>
    <%= form.label :price, 'Price' %>
    <%= form.number_field  :price %>
  </div>
  <% if product.errors[:price] %>
    <span style='color: red'><%= product.errors[:price][0] %></span>
  <% end %>
  <div>
    <%= form.label :weight, 'Weight' %>
    <%= form.number_field  :weight %>
  </div>
  <% if product.errors[:weight] %>
    <span style='color: red'><%= product.errors[:weight][0] %></span>
  <% end %>
   <div>
    <%= form.label :product_background, 'Product Image' %>
    <%= form.file_field :product_background %>
  </div>
  <% if product.errors[:product_background] %>
    <span style='color: red'><%= product.errors[:product_background][0] %></span>
  <% end %>
   <div class="mt-3 mb-5">
    <%= form.check_box :is_available, class: 'input-checkbox' %>
    <%= form.label :is_available, 'Is Available' %>
  </div>
  <% if product.errors[:is_available] %>
    <span style='color: red'><%= product.errors[:is_available][0] %></span>
  <% end %>
    <%= form.submit submit, class:"bg-blue-500 hover:bg-blue-700  font-bold py-2 px-4 rounded" %>
<% end %>