<%= form_with model: [user, store, product] do |form|%>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :store_id, value: store.id %>
  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
    <% if product.errors[:name] %>
      <span style='color: red'><%= product.errors[:first_name][0] %></span>
    <% end %>
  </div>  
  <div>
    <%= form.label :description, 'Description' %>
    <%= form.text_field :description %>
  </div>
  <% if product.errors[:description] %>
    <span style='color: red'><%= product.errors[:description][0] %></span>
  <% end %>
   <div>
    <%= form.label :price, 'Price' %>
    <%= form.number_field  :price %>
  </div>
  <% if product.errors[:price] %>
    <span style='color: red'><%= product.errors[:price][0] %></span>
  <% end %>
  <div>
    <%= form.label :weight, 'Weight' %>
    <%= form.number_field  :weight %>
  </div>
  <% if product.errors[:weight] %>
    <span style='color: red'><%= product.errors[:weight][0] %></span>
  <% end %>

    <%= form.submit submit, class:"bg-blue-500 hover:bg-blue-700  font-bold py-2 px-4 rounded" %>
<% end %>