<style>
  .h-99{
    height:35rem
  }
  .h-103{
    max-height:28rem;
  }
</style>
<div class="block" data-controller="display-img-on-create">
  <%= form_with model: [store, product] do |form|%>
    <%= form.hidden_field :hidden_items, data:{'display-img-on-create-target': 'hiddenField'}%>
    <div class="flex w-full mt-3">
      <div class="w-3/5">
        <div class="w-full h-99 bg-gray-100 h-52 relative flex flex-wrap content-between">
          <div class="w-full grid grid-cols-3 gap-2 h-103 overflow-y-auto" data-display-img-on-create-target='divDisplaying'>
            <% if @product.product_backgrounds %>
              <% @product.product_backgrounds.each_with_index do |item, index| %>
                <span class='relative mx-1 bg-black' data-display-img-on-create-target='ImgDatabase' id="<%=index%>"> 
                  <span class='cursor-pointer absolute top-1 left-2 z-10' 
                        data-display-img-on-create-target='hideImage' 
                        data-action='click->display-img-on-create#hideFiles' 
                        data-display-img-on-create-id-param="<%=index%>"> 
                    <i class='fal fa-times text-xl text-white'></i> 
                  </span> 
                  <%= image_tag item, class:'h-52 w-full rounded-sm object-cover border opacity-80 border-gray-300' %>
                </span>
              <% end %>
            <% end %>
          </div>
          <label class="flex justify-center py-1 items-center ease-linear transition-all duration-150 bg-gray-300 text-gray-600 hover:bg-gray-400 hover:text-gray-700 h-14 w-14  rounded-full mx-auto mb-3">
            <i class="fad fa-plus text-xl"></i>
            <%= form.file_field :product_backgrounds, accept:'.png, .jpeg, .fpg, .svg, .jpg', multiple: true, class:'hidden',data: {'display-img-on-create-target': 'imgGetter', action:'change->display-img-on-create#displayImage'} %>
          </label>
        </div>
      </div>
      <div class="w-2/5 px-5 py-4 text-center shadow rounded">
        <%#= form.hidden_field :user_id, value: current_user.id %>
        <%#= form.hidden_field :store_id, value: store.id %>
        <div>
          <%= form.text_field :name, placeholder:'Nom du produit', class:'bg-gray-100 px-2 w-4/5 py-2 rounded mb-4 outline-none' %>
          <% if product.errors[:name] %>
            <span style='color: red'><%= product.errors[:first_name][0] %></span>
          <% end %>
        </div>  
        <div>
          <%= form.text_area :description, placeholder:'Description', class:'bg-gray-100 px-2 w-4/5 py-2 rounded mb-4 outline-none' %>
          <% if product.errors[:description] %>
            <span style='color: red'><%= product.errors[:description][0] %></span>
          <% end %>
        </div>
        <div>
          <%= form.text_field :all_categories, class: 'bg-gray-100 px-2 w-4/5 py-2 rounded mb-4 outline-none', placeholder: "Categories (Separé par des virgules)" %>
          <% if product.errors[:all_categories] %>
            <span style='color: red'><%= product.errors[:all_categories][0] %></span>
          <% end %>
        </div>
        <div>
          <%= form.number_field  :price, placeholder:'e.g. 15000',class:'bg-gray-100 px-2 w-4/5 py-2 rounded mb-4 outline-none', min:0 %>
          <% if product.errors[:price] %>
            <span style='color: red'><%= product.errors[:price][0] %></span>
          <% end %>
        </div>
        <div>
          <%= form.number_field  :weight, placeholder:'Poids du produit', class:'bg-gray-100 px-2 w-4/5 py-2 rounded mb-4 outline-none', min:0%>
          <% if product.errors[:weight] %>
            <span style='color: red'><%= product.errors[:weight][0] %></span>
          <% end %>
        </div>
        <div>
          <%= form.number_field  :quantity, placeholder:'Quantité du produit', class:'bg-gray-100 px-2 w-4/5 py-2 rounded mb-4 outline-none', min:0%>
          <% if product.errors[:quantity] %>
            <span style='color: red'><%= product.errors[:quantity][0] %></span>
          <% end %>
        </div>
        <div class="mx-auto my-3 w-4/5 text-left">
          <%= form.check_box :is_available, class: 'input-checkbox' %>
          <%= form.label :is_available, 'Disponibe' %>
          <% if product.errors[:is_available] %>
            <span style='color: red'><%= product.errors[:is_available][0] %></span>
          <% end %>
        </div>
          <%= form.submit submit, class:"bg-red-600 text-white hover:bg-red-700 font-bold py-2 px-4 rounded w-4/5" %>
        </div>
    </div>
  <% end %>
</div>
