<style>
.min-height {
  min-height:35rem
}

.pagination{
  background: #fff !important;
  padding:10px 20px !important;  
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.46) !important;
  border-radius:5px !important;
}
.page{
  padding:3px 10px 3px 13px !important;
  margin:0 3px !important;
  text-align:center !important;
  border-radius:2px !important;
  height: 10px !important;
  font-weight:600 !important;
}
.current{
  color:white !important;
  background:#CE4027 !important;
}
.next, .last, .prev, .first{
  color:white !important;
  background:#CE4027 !important;
  border-radius:2px !important;
  padding:3px 10px 3px 13px !important;
  margin:1px;

}

</style>

<%=form_with url: products_path, method: :get do |f| %>
  <% content_for :search_bar do %>
    <%=render partial: 'home/searchs'%>
  <% end %>
  <div class="flex min-height mt-8">
    <div class="w-1/5 px-3">
      <span class="w-full font-normal text-xl mb-10">FILTRE</span>
      <div class="py-6 border-b border-gray-300">
        <span class="w-full font-medium">Categorie & Marque</span>
        <%=render partial: 'categories', collection:@categories%>
      </div>
      <div class="py-6 border-b border-gray-300">
        <span class="w-full font-medium">Ville or Commune</span>
        <%=render partial: 'cities', collection:@cities%>
      </div>
      <div class="py-6 border-b border-gray-300 relative">
        <span class="w-full font-medium">Tranche de prix</span>
        <%=render 'range'%>
      </div>
      <div class="py-3 justify-center align-items flex " >
				<button type="button" class="text-white bg-red-500 px-10 rounded py-1" data-action="click->search#performSearch">Filters <i class="fa fa-filter"></i></button>
			</div>
    </div>
    
    
    <div class='w-4/5 px-2'>
      <div class="w-full grid grid-cols-4 gap-2">
        <%=render partial:'home/product', collection:@products%>
      </div>
      <div class='w-full py-2 flex justify-center items-center'>
        <%= paginate @products %>
      </div>
      
      <% if @products == [] %>
          <h1 class="text-center">Not product found</h1>
      <% end %>
    </div>
  </div>
<% end %>
<% content_for :banners do %>
  <%=render 'shared/banners'%>
<% end %>
<% content_for :footer do %>
  <%=render 'shared/footer'%>
<% end %>

