<div data-controller="toggle-product">

 
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th>price</th>
      <th>weight</th>
      <th>categories</th>
      <th>store</th>
      
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr class="text-red-800">
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.weight %></td>
      <td><%= product.all_categories %></td>
      <td><%= product.store.name %></td>

    </tr>
  <% end %>
  
  </tbody>
</table>

<table>
 
  <tbody class="hidden modal " data-toggle-product-target="modal">
  <% if Product.all != nil %>
  <% @other_products.each do |product| %>

    <tr >

        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.weight %></td>
        <td><%= product.all_categories %></td>
        <td><%= product.store.name %></td>
    </tr>
  <% end %>
  <% end %>


  </tbody>
</table>
<button class="bg-blue-500 hover:bg-blue-700
 text-white font-bold py-2 px-4 rounded" 
 data-action="click->toggle-product#display">
  see more
</button>
</div>
