<h1><%= @product.name%></h1>
<ul>
  <li><%= link_to 'Add new Product', new_user_store_product_path %></li>
  <li><%= link_to 'edit',  edit_user_store_product_path %></li>
  <li><%= link_to 'All Product', user_store_products_path%></li>
</ul>
<hr/>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th>from_date</th>
      <th>to_date</th>
      <th>price/th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= link_to 'edit', edit_user_store_product_path(product)%></td>
      <td><%= link_to 'delete', user_store_product_path(product), method: :delete, data: {confirm: 'Are you sure?'}%></td>
    </tr>
  <% end %>
  </tbody>
</table>
