<!DOCTYPE html>
<html>
  <head>
    <title>Jokou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <%= favicon_link_tag asset_path('Subtract.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <style>
    .h_min{
      min-height: 25rem
    }
    </style>
  </head>
  <% stimulus_controller = controller.controller_name == 'products' || 'home' ? 'search': ''%>
  <body data-controller="<%= stimulus_controller%>">
    <%=render 'shared/flashes'%>
    <%#=render 'devise/shared/error_messages'%>
    <%#=render 'shared/banners'%>
    <%=yield :banners%>
    <div class=" overflow-x-hidden">
      <%= yield %>
    </div>
    
    <%#=render 'shared/footer'%>
    <%=yield :footer%>


    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        keyboard: {
          enabled: true,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </body>
</html>
