<!DOCTYPE html>
<html>
  <head>
    <title>Jokou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <%=render 'shared/flashes'%>
    <%#=render 'devise/shared/error_messages'%>
    <%#=render 'shared/banners'%>
    <%=yield :banners%>
    <div class=" overflow-x-hidden">
      <%= yield %>
    </div>
    <%#=render 'shared/footer'%>
    <%=yield :footer%>
    
  </body>
</html>
