<style>
  .min-h{
    min-height:35rem;
  }
  .h-36r{
    height:36rem
  }
  </style>
  
  
  
<div class="flex justify-center min-h bg-gray-50 py-5 mb-2">
  <div class="w-3/6 flex px-5">
    <div class="w-full">
      <div class="w-full py-3 flex justify-between items-end">
        <h3 class="text-base font-semibold text-gray-600">
          Mon portefeuille 
          <i class="fas fa-hand-holding-usd"></i>
        </h3>
        <a href="<%= new_user_account_transaction_path(current_user, current_user.account)%>" 
          class="px-3 text-gray-600 font-semibold text-md flex items-center">
          <i class="fal fa-plus-circle text-3xl text-blue-500 mr-2"></i>
          Nouvelle transaction
        </a>
      </div>
      <div class="w-full h-64 p-5 justify-center items-center overflow-hidden  px-14 bg-white shadow overflow-x-hidden">
        <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
          <div class='w-1/6'>
            <i class="fas fa-hand-holding-usd text-3xl"></i>
          </div>
          <h3 class="text-base font-semibold text-gray-600 w-3/6">Montant réel:</h3>
          <div class="text-left font-medium text-green-500 text-2xl  w-2/6">
            <%= number_with_delimiter(@account.balance, :delimiter => '.') %> FCFA
          </div>
        </div>
        <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
          <div class='w-1/6'>
            <i class="fas fa-credit-card text-3xl"></i>
          </div>
          <h3 class="text-base font-semibold text-gray-600 w-3/6">Montant prévisionnel:</h3>
          <div class="text-left font-medium text-green-500 text-2xl w-2/6">
            <%= number_with_delimiter(@account.balance + @account.transactions.amount_lock , :delimiter => '.') %> FCFA
          </div>
        </div> 
        <div class="text-left flex w-full justify-between pb-7 pt-2 border-b border-gray-100">
          <div class='w-1/6'>
            <i class="fas fa-credit-card text-3xl"></i>
          </div>
          <h3 class="text-base font-semibold text-gray-600 w-3/6">Montant total bloqué:</h3>
          <div class="text-left font-medium text-red-600 text-2xl w-2/6">
            <%= number_with_delimiter(@account.transactions.amount_lock, :delimiter => '.') %> FCFA
          </div>
        </div>
      </div>

      <h3 class="text-base font-semibold text-gray-600 pt-3 pb-1"> 
        Transactions effectuées 
        <i class="fas fa-file-invoice-dollar"></i>
      </h3>
      <div class="w-full h-96 overflow-y-auto bg-white shadow">
        <%#= render 'thead' %>

        <div class='py-2 '>
          <%=render partial:'transaction', collection:@transactions%>
        </div>
      </div>
    </div>
  </div>

</div>
  
  <% content_for :banners do %>
    <%=render 'shared/banners'%>
  <% end %>
  <% content_for :footer do %>
    <%=render 'shared/footer'%>
  <% end %>
